.cta-section {
  border-right: 100px solid #ff8b0e;
  background: rgb(130, 2, 232);
  padding: 100px 0;
  width: 100%;
  display: block;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    rgba(130, 2, 232, 1) 0%,
    rgba(52, 0, 100, 1) 100%
  );
}
.cta-section h1 {
  font-weight: 600;
  color: #fff;
  font-size: 60px;
  line-height: 1.4;
  text-transform: uppercase;
}
.cta-section .start-now {
  background: #ff8b0e;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 15px 30px;
  border-radius: 5px;
  color: #fff;
  margin-top: 20px;
  text-decoration: none;
}
.cta-section h2 {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 80px;
}

.cta-section h4 {
  color: #fff;
  display: block;
  margin-top: 40px;
}
.cta-section .start-now:hover {
  text-decoration: none;
  color: #fff;
}
a {
  text-decoration: none !important;
}

.close-notification::after {
  color: #fff;
}

.body-wrap {
  padding-top: 40px;
}

#cookie-consent {
  display: none;
}

.body-wrap {
  margin-top: 0;
}

.form-captcha {
  display: flex;
  justify-content: center;
  padding: 20px 0 30px 0;
  width: 100%;
}

h3,
p,
div,
span,
em,
i,
li,
b {
  font-family: "Nunito Sans", sans-serif !important;
  color: #2b2b2b;
}
.logo img {
  max-width: 160px;
}
.top-notification {
  display: none;
}
.gimg {
  max-width: 300px;
}
.nav-container {
  display: none;
}
ul.list-demo {
  margin: 0;
  list-style: none;
}
ul.list-demo li {
  position: relative;
  padding: 5px 0 5px 20px;
  font-size: 16px;
}
ul.list-demo li::before {
  content: "";
  width: 8px;
  height: 8px;
  background: #673b97;
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 12px;
}
.wpb_raw_html {
  margin-bottom: 0;
}
.align-center {
  text-align: center;
}

.body-wrap {
  padding-top: 0;
}

.cta {
  font-size: 14px;
  padding: 8px 25px;
  color: #fff;
  background: #ff9300;
  border-radius: 5px;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 1px;
}
.cta:hover {
  color: #fff !important;
  background: #d97d00;
}

.section-headline {
  font-size: 35px;
  color: #555555;
  font-weight: bold;
}

.white *,
.white {
  color: #fff !important;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  padding: 0;
  height: 50px;
  border-bottom: 1px solid #ccc;
  background: transparent;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
}

div.wpcf7 input[type="submit"] {
  font-size: 14px;
  padding: 0px 23px;
  color: #fff;
  background: #ff9300;
  border-radius: 5px !important;
  height: AUTO;
  display: block;
  max-width: 300px;
  margin: AUTO;
  border: 1px solid #ff9300;
}

.wpcf7-form {
  max-width: 400px;
  margin: auto;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 15px #0000001a;
  border-radius: 8px;
  padding: 20px;
}
::-webkit-input-placeholder {
  /* Edge */
  text-transform: capitalize;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  text-transform: capitalize;
}

::placeholder {
  text-transform: capitalize;
}
section {
  padding: 0;
}
.form-section {
  background: url(https://www.groupe.io/wp-content/uploads/2020/05/bg.jpg);
  background-size: 50%;
  background-position: 115% 0;
  background-repeat: no-repeat;
}
footer {
  display: none;
}
.form-sub-section {
  background: url(https://www.groupe.io/wp-content/uploads/2020/05/bg.jpg);
}
/*For displaying form error*/
span.wpcf7-not-valid-tip {
  display: block !important;
}
@media only screen and (max-width: 767px) {
  .form-section {
    background: none;
  }
  .form-sub-section {
    padding: 50px 10px;
  }

  .bdesktop,
  #menu-main-menu {
    display: none;
  }
  section {
    padding: 50px 0;
  }

  .section-headline {
    font-size: 26px !important;
    text-align: center !important;
  }
}
img.wp-smiley,
img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 0.07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}
* {
  transition: all 0.3s ease;
}
